:root {
    --bs-primary: #1E6858;
    --bs-secondary: #DD80B3;
    --bs-primary-rgb: 30,104,88;
    --bs-secondary-rgb: 221,128,179;
    --bs-primary-bg-subtle: #E8E2D4;
    --bs-emphasis-color-rgb: 255,255,255;
    --bs-secondary-emphasis: #8C6D2C;
}

body {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='0.5' stroke='hsla(0, 0%, 0%, 0.1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}


.nav-item {
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
    font-size: 1.5rem;
    opacity: 1;
}

.hero-image, .hero {
    border-bottom-right-radius: 100px;
}

.hero-text {
    text-align: center;
    margin-top: -250px;
}

.btn-primary {
    box-shadow: -8px -8px 0px #8C6D2C;
    --bs-btn-color: #fff;
    --bs-btn-bg: #3F3E21;
    --bs-btn-border-color: #3F3E21;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg:#E82320;
    --bs-btn-hover-border-color: #E82320;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #E82320;
    --bs-btn-active-border-color: #E82320;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #E82320;
    --bs-btn-disabled-border-color: #E82320;
}

.btn {
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
}
.btn-primary:hover {
    box-shadow: -8px -8px 0px var(--bs-secondary);
}
.btn-secondary{
    box-shadow: -8px -8px 0px var(--bs-secondary);
    --bs-btn-color: #fff;
    --bs-btn-bg: #E82320;
    --bs-btn-border-color: #E82320;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg:var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg:var(--bs-secondary);
    --bs-btn-active-border-color: var(--bs-secondary);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-secondary);
    --bs-btn-disabled-border-color: var(--bs-secondary);
}

.btn-secondary:hover {
    box-shadow: -8px -8px 0px #8C6D2C;
}

.btn-secondary[type=submit] {
    box-shadow: none;
}

.nav-button {
    box-shadow: -8px -8px 0px #8C6D2C;
    --bs-btn-color: #fff;
    --bs-btn-bg: #DD80B3;
    --bs-btn-border-color: #DD80B3;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg:#8C6D2C;
    --bs-btn-hover-border-color: #8C6D2C;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #dd80b3;
    --bs-btn-active-border-color: #dd80b3;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #dd80b3;
    --bs-btn-disabled-border-color: #dd80b3;
}

.nav-button:hover {
    box-shadow: -8px -8px 0px #DD80B3;
}

h1 {
font-family: "swear-display", serif;
font-size: 3rem;
font-weight: bold;
font-style: italic;
color: #E82320;
}

.hero h1 {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    color: var(--bs-secondary);
}

h4 {
font-family: "futura-pt", sans-serif;
font-weight: 300;
font-style: italic;
}

.keep-in-touch h4 {
    color: var(--bs-primary);
}

h2 {
font-family: "swear-display", serif;
font-size: 3rem;
font-weight: 500;
font-style: normal;
}

h3 {
    font-family: "swear-display", serif;
    font-weight: 400;
    font-style: normal; 
}

p {
    font-family: "futura-pt", sans-serif;
    font-size: 1.25rem;
    line-height: 1.25;
    font-weight: 100;
    font-style: italic; 
    color: var(--bs-secondary-emphasis);
}
.education-credentials {
    background-color: #EDF3F2;
    border-top-right-radius: 100px;
}

.contact-form{
    border-top-left-radius: 75px;
}

.card h3 {
    color: var(--bs-primary);
    font-size: 2rem;
}

.about h3 {
    color: var(--bs-primary);
}

.education-credentials h4 {
    color: var(--bs-primary);
}

.education-credentials li {
    color: #7F7F7F;
}

.bio-img {
    border-top-right-radius: 100px;
    object-fit:cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 500px;
    max-height: 500px;
    margin-bottom: 1rem;
      }


input[type=text], input[type=email] {
    border-color: #8C6D2C;
}

.hero h4 {
    color:#E8E2D4;
}

footer p {
    font-size: small;
}

.image-hover {
    border-top-right-radius: 100px;
}

.image-hover-left {
    border-top-left-radius: 100px;
}

.image-hover {
    display: inline-block;
    margin: 20px;
    border: 1px solid black;
    overflow: hidden;            /* clip the excess when child gets bigger than parent */
  }
  .image-hover img {
    display: block;
    transition: transform .4s;   /* smoother zoom */
  }
  .image-hover:hover img {
    transform: scale(1.2);
    transform-origin: 50% 50%;
  }

  .image-hover-left {
    display: inline-block;
    margin: 20px;
    border: 1px solid black;
    overflow: hidden;            /* clip the excess when child gets bigger than parent */
  }
  .image-hover-left img {
    display: block;
    transition: transform .4s;   /* smoother zoom */
  }
  .image-hover-left:hover img {
    transform: scale(1.2);
    transform-origin: 50% 50%;
  }

/* +++++++ Breakpoint MD +++++++ */

@media screen and (min-width: 768px) {

.hero-text {
    margin-top: 3rem;
    padding-top: 3rem;
    padding-left: 5rem;
    margin-right: -250px;
    z-index: 1;
    text-align: left;
}

.hero-image {
    border-bottom-left-radius: 100px; 
    border-bottom-right-radius: 0px;
}

.hero {
    border-bottom-right-radius: 0px;
}

.navbar-nav {
 justify-content: space-around;
}
}