

:root {
    --bs-primary: #1E6858;
    --bs-secondary: #DD80B3;
    --bs-primary-rgb: 30,104,88;
    --bs-secondary-rgb: 221,128,179;
    --bs-primary-bg-subtle: #E8E2D4;
    --bs-emphasis-color: #E82320;
    --bs-secondary-emphasis: #8C6D2C;
    --bs-secondary-emphasis-dark:#3F3E21;

}


main {
    width: 100%;
}
body {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='0.5' stroke='hsla(0, 0%, 0%, 0.1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"); 
}

.nav-item {
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.hero-image, .hero {
    border-bottom-right-radius: 100px;
}

.hero-text {
    text-align: center;
    margin-top: -250px;
}

.btn-primary {
    box-shadow: -8px -8px 0px var(--bs-secondary-emphasis);
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-secondary-emphasis-dark);
    --bs-btn-border-color:var(--bs-secondary-emphasis-dark);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg:var(--bs-emphasis-color);
    --bs-btn-hover-border-color: var(--bs-emphasis-color);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-emphasis-color);
    --bs-btn-active-border-color: var(--bs-emphasis-color);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-emphasis-color);
    --bs-btn-disabled-border-color: var(--bs-emphasis-color);
}

.btn {
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
}
.btn-primary:hover {
    box-shadow: -8px -8px 0px var(--bs-secondary);
}
.btn-secondary{
    box-shadow: -8px -8px 0px var(--bs-secondary);
    --bs-btn-color: #fff;
    --bs-btn-bg:var(--bs-emphasis-color);
    --bs-btn-border-color: var(--bs-emphasis-color);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg:var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-focus-shadow-rgb: (--bs-secondary);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg:var(--bs-secondary);
    --bs-btn-active-border-color: var(--bs-secondary);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-secondary);
    --bs-btn-disabled-border-color: var(--bs-secondary);
}

.btn-secondary:hover {
    box-shadow: -8px -8px 0px var(--bs-secondary-emphasis);
}

.btn-secondary[type=submit] {
    box-shadow: none;
}

.nav-button {
    box-shadow: -8px -8px 0px var(--bs-secondary-emphasis);
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-border-color:var(--bs-secondary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg:var(--bs-secondary-emphasis);
    --bs-btn-hover-border-color: var(--bs-secondary-emphasis);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-secondary);
    --bs-btn-active-border-color: var(--bs-secondary);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-secondary);
    --bs-btn-disabled-border-color: var(--bs-secondary);
}

.nav-button:hover {
    box-shadow: -8px -8px 0px var(--bs-secondary);
}


h1 {
font-family: "swear-display", serif;
font-size: 3rem;
font-weight: bold;
font-style: italic;
color: var(--bs-emphasis-color);
}

.hero h1, .hero h4 {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    color: var(--bs-secondary);
}

h4 {
font-family: "futura-pt", sans-serif;
font-weight: 300;
font-style: italic;
}

.keep-in-touch h4 {
    color: var(--bs-primary);
}

h2 {
font-family: "swear-display", serif;
font-size: 3rem;
font-weight: 500;
font-style: normal;
}

h3 {
    font-family: "swear-display", serif;
    font-weight: 400;
    font-style: normal; 
    color: var(--bs-secondary-emphasis);
}

p {
    font-family: "futura-pt", sans-serif;
    font-size: 1.25rem;
    line-height: 1.25;
    font-weight: 100;
    font-style: italic; 
    color: var(--bs-secondary-emphasis);
}



.welcome-text h4 {
    color: var(--bs-secondary);
}
.education-credentials {
    background-color: #EDF3F2;
    border-top-right-radius: 100px;
}

.contact-form{
    border-top-left-radius: 75px;
}

.card h3 {
    color: var(--bs-primary);
    font-size: 2rem;
}

.about h3 {
    color: var(--bs-primary);
}

.education-credentials h4 {
    color: var(--bs-primary);
}

.education-credentials li {
    font-family: "futura-pt", sans-serif;
    font-size: 1.25rem;
    line-height: 1.25;
    font-weight: 100;
    color: #7F7F7F;
}

.bio-img img{
    border-top-right-radius: 100px;
    object-fit:cover;
    object-position: center; 
    max-height: 450px;
    width: 100%;
 }

 img, object {
	max-width: 100%;
  	height: auto;
  	object-fit: cover;
}

input[type=text], input[type=email] {
    border-color: var(--bs-secondary-emphasis);
}

.portfolio h4 {
    color: var(--bs-secondary-emphasis);
}

.portfolio a:active, .portfolio a:visited {
    color: var(--bs-secondary-emphasis);
}

footer p {
    font-size: small;
}

.image-hover {
    border-top-right-radius: 100px;
}

.image-hover-left {
    border-top-left-radius: 100px;
}

.image-hover {
    display: inline-block;
    margin: 20px;
    overflow: hidden;         
  }
  .image-hover img {
    display: block;
    transition: transform .4s;
  }
  .image-hover:hover img {
    transform: scale(1.2);
    transform-origin: 50% 50%;
  }

  .image-hover-left {
    display: inline-block;
    margin: 20px;
    overflow: hidden;           
  }

  .image-hover-left img {
    display: block;
    transition: transform .4s;
  }

  .image-hover-left:hover img {
    transform: scale(1.2);
    transform-origin: 50% 50%;
  }

 picture {
    height: 300px;
  }

  .social-icons a {
    color: white;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
  }

  .footer-nav {
    display: grid;
    justify-content: center;
    text-align:center;
  }

  footer .active {
    text-decoration: underline;
    text-underline-offset: 5px;
  }
/* IMAGE GALLERY - code from Pierre Lizet - link in README */

  .grid {
    column-count: 4;
    column-gap: .5em;
    max-width: 1200px;
    margin: auto;
    width: 100%;
  }
  
  .grid img {
    height: auto;
    max-width: 100%;
    margin-bottom: .5em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3)
  }

  @media(max-width: 800px) {
      .grid {
        column-count: 3;
    }
  }
  
  @media(max-width: 600px) {
      .grid {
        column-count: 2;
    }
  }
  
  @media(max-width: 400px) {
      .grid {
        column-count: 1;
    }
  }

/* +++++++ Breakpoint MD +++++++ */

@media screen and (min-width: 768px) {

.hero-text {
    margin-top: 3rem;
    padding-top: 3rem;
    padding-left: 5rem;
    margin-right: -250px;
    z-index: 1;
    text-align: left;
}

.hero-image {
    border-bottom-left-radius: 100px; 
    border-bottom-right-radius: 0px;
}

.hero {
    border-bottom-right-radius: 0px;
}

.navbar-nav {
 justify-content: space-around;
}

.footer-nav {
    display: grid;
    justify-content:left;
    text-align:left;
    padding-left: 5rem;
  }
}

/* Animate CSS already supports @media (prefers-reduced-motion) */